.ct-header {
    height: 70px;
    background-color: var(--ct-color-bg-tertiary);
    color: var(--ct-color-font-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

@media (min-width: 576px) {
    .ct-header {
        font-size: 24px;
    }
}