.ct-footer {
    height: 120px;
    background-color: var(--ct-color-bg-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct-footer-text {
    display: grid;
    gap: 10px;
    text-align: center;
}

.ct-footer p {
    color: var(--ct-color-font-secondary);
    font-size: 16px;
    font-weight: 400;
}