#car-section {
    padding: 0 20px 25px 20px;
}

#comment-section {
    background-color: var(--ct-color-bg-secondary);
    padding: 0 20px 25px 20px;
}

.ct-car-card-container {
    display: grid;
    gap: 25px;
    max-width: 746px;
    margin: 0 auto;
}

.ct-comment-container {
    display: grid;
    gap: 25px;
    max-width: 960px;
    margin: 0 auto;
}