#car-section {
    padding: 0 20px;
}

#comment-section {
    background-color: var(--ct-color-bg-secondary);
    padding: 0 20px 25px 20px;
}

.ct-comment-container {
    display: grid;
    gap: 25px;
}